.add-movie-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.add-movie-container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fd2eec;
  text-shadow: 3px 3px 10px rgba(255, 71, 160, 0.979);
  margin-bottom: 15px;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-movie-form input,
.add-movie-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

.add-movie-form textarea {
  height: 80px;
  resize: none;
}

.add-movie-form input:focus,
.add-movie-form textarea:focus {
  border-color: #ff00ff;
  box-shadow: 0px 0px 8px rgba(255, 0, 255, 0.5);
}

.add-movie-form button {
  padding: 12px;
  background: linear-gradient(135deg, #ff00ff, #ff8800);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.add-movie-form button:hover {
  background: linear-gradient(135deg, #ff8800, #ff00ff);
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(255, 0, 255, 0.5);
}
/* Back Button */
.add-back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: linear-gradient(135deg, #fb7303, #ff0000);
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  font-weight: bold;
}

.add-back-btn:hover {
  background: linear-gradient(135deg, #ff0000, #fb7303);
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(255, 0, 0, 0.5);
}